* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 24px;
  position: relative;
  height: 100vh;
}

:root {
  --dark-blue: #1e2e3e;
  --body-background: #c7c7c7;
  --white: #dad7bf;
  --green: #2c8771;
  --red: #c33b3b;
  --grey: #a5a5a5;
  --sm: 18px;
  --md: 24px;
  --lg: 36px;
}
